.card{
   
    width:340px;
    height:auto;
    margin-right: 30px;
    margin-bottom: 30px;
    
}

.card p {
    color: white;
    margin-top: 0;
    font-family: Courier, monospace;
}
.price{
    width: 100%;
    /* background-color: white; */
   height: 25px;
   border: 1px solid gray;
   border-radius: 10px;
   text-align: center;
   
}
.card-image img{
   width: 340px;
   height: 400px;
   background-image:url(pictures/qwerr.jpg) ;
    
}
.price p{
    color: green;
    margin-top: 4px;
}

 