body{
    margin: 0;
    padding: 0;
    height: 150vh;
    background-image: url(background.jpg);
   
}
/* #particles-js{
    height: 100%;
    background:rgb(0, 0, 0);
    
} */
@font-face {
    font-family:heartless ;
    src: url(rammstein.ttf);
    
}
.metalmania{
    
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
   font-size: 144px;
    
  
  
}
.metalmania span{
  
    color: rgb(255, 255, 255);
    font-family: heartless;
    width: 100%; /* Make the span as wide as its parent */
    display: block; /* Fill the entire width */
    text-align: center; /* Center the text horizontally */
    
   
}

.mainBox {
  

margin-left: auto;
margin-right: auto;
height: 100%;
width: 80%;   
/* background-color: black; */
display: flex;  
flex-direction: column;

    
    

  
   
   
}

/* font-family: Rodchenko,Roboto Condensed,Arial Narrow,Helvetica Condensed,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;; */
@media only screen and (max-width: 1630px) {
 .metalmania{
    font-size: 120px;
 }
    
}


.logo{
  width: 90px;
  height: 50px;
  position: absolute;
  left: 20px;
  display: none;
}
.imgon{
  display: block;
 
}

.navbar {
  background-color: transparent;
  display: flex;
  align-items: baseline;
  padding: .5rem;
  gap: 1rem;
  position: sticky;
  top: 0;
 transition: 0.3s;
  
}
.sticky{
  padding-left: 120px;
  transition: 0.3s;
}
.link {
    background: none;
    border: none;
    text-decoration: none;
    color: #ffffff;
    font-family: Rodchenko,Roboto Condensed,Arial Narrow,Helvetica Condensed,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;;
    font-size:30px;
    font-weight: 600;
    cursor: pointer;
    padding: 0;
  }
  /* .dropdown.active + .link,
  .link:hover{
    color: rgb(187, 187, 187);
  } */
  .dropdown{
    position: relative;
    color: #000000;
   
  }
  .dropdown-menu{
    position: absolute;
    
    
    background-color: #ffffff;
    padding: 2rem;
    border-radius: .45rem;
    box-shadow: 0 2px 5px 0 rgb(0, 0, 0);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out,transform 150ms ease-in-out;
  }
  .dropdown.active > .link + .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
.information-grid{
    display: grid;
    grid-template-columns: repeat(2,max-content);
   
    gap: 4rem;
    font-size:30px;
   
    
}
.dropdown-links{
    display: flex;
    flex-direction: column;
    gap: .65rem;
}
.links{
    background: none;
    border: none;
    text-decoration: none;
    color: #000000;
    font-family: Rodchenko,Roboto Condensed,Arial Narrow,Helvetica Condensed,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;;
    font-size:20px;
   
    cursor: pointer;
    padding: 0;
}
.dropdown-heading{
    padding-bottom: 20px;
}

.searchbtn{
  border: none;
  background: none;
  font-size: 20px;
}

.search{
  height: 50px;
  width: 50px;
  font-size: 20px;
  background: none;
  color: rgb(255, 255, 255);
  border: none;
  padding-bottom: 10px;

}
.search:hover{
  color: grey;
}
.FromTo{
  border-radius: 10px;
  width: 4rem;
  height: 1.5rem;
}

