body{
    margin: 0;
    padding: 0;
    height: 150vh;
    background-image: url(pictures/background1.jpg);
   
}
/* #particles-js{
    height: 100%;
    background:rgb(0, 0, 0);
    
} */
@font-face {
    font-family:heartless ;
    src: url(rammstein.ttf);
    
}
.metalmania{
    
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
   font-size: 144px;
    
  
  
}
.metalmania span{
  
    color: rgb(255, 255, 255);
    font-family: heartless;
    width: 100%; /* Make the span as wide as its parent */
    display: block; /* Fill the entire width */
    text-align: center; /* Center the text horizontally */
    
   
}

.mainBox {
  

margin-left: auto;
margin-right: auto;
height: 100%;
width: 80%;   

flex-direction: column;

    
    

  
   
   
}

/* font-family: Rodchenko,Roboto Condensed,Arial Narrow,Helvetica Condensed,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;; */
@media only screen and (max-width: 1630px) {
 .metalmania{
    font-size: 120px;
 }
    
}


.logo{
  width: 90px;
  height: 50px;
  position: absolute;
  left: 20px;
  top: 5px;
  display: none;
}
.imgon{
  display: block;
 
}

.navbar {
  background-color: transparent;
  display: flex;
  align-items: baseline;
  padding: .5rem;
  gap: 1rem;
  position: sticky;
  top: 0;
 transition: 0.3s;
 z-index: 1;
 background: rgba(0, 0, 0, 0.7);
 margin-top: 10px;
  
}
.sticky{
  padding-left: 120px;
  transition: 0.3s;
}
.link {
    background: none;
    border: none;
    text-decoration: none;
    color: #ffffff;
    font-family: Rodchenko,Roboto Condensed,Arial Narrow,Helvetica Condensed,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;;
    font-size:30px;
    font-weight: 600;
    cursor: pointer;
    padding: 0;
  }
  /* .dropdown.active + .link,
  .link:hover{
    color: rgb(187, 187, 187);
  } */
  .dropdown{
    position: relative;
    color: #000000;
   
  }
  .dropdown-menu{
    position: absolute;
    
    
    background-color: #ffffff;
    padding: 2rem;
    border-radius: .45rem;
    box-shadow: 0 2px 5px 0 rgb(0, 0, 0);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out,transform 150ms ease-in-out;
  }
  .dropdown.active > .link + .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
.information-grid{
    display: grid;
    grid-template-columns: repeat(2,max-content);
   
    gap: 4rem;
    font-size:30px;
   
    
}
.dropdown-links{
    display: flex;
    flex-direction: column;
    gap: .65rem;
}
.links{
    background: none;
    border: none;
    text-decoration: none;
    color: #000000;
    font-family: Rodchenko,Roboto Condensed,Arial Narrow,Helvetica Condensed,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;;
    font-size:20px;
   
    cursor: pointer;
    padding: 0;
}
.dropdown-heading{
    padding-bottom: 20px;
}

.searchbtn{
  border: none;
  background: none;
  font-size: 20px;
}

.search{
  height: 50px;
  width: 50px;
  font-size: 23px;
  cursor: pointer;
  background: none;
  color: rgb(255, 255, 255);
  border: none;
  padding-bottom: 10px;

}
.search:hover{
  color: grey;
}
.FromTo{
  border-radius: 10px;
  width: 4rem;
  height: 1.5rem;
}
.popup .overlay{
  position: fixed;

  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}
.popup .content{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  background: #c9c9c9;
  width: 350px;
  height: 120px;
  border-radius: 10px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 250px;
}
.popup .close-btn{
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background: transparent;
  color: #8e8e8e;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;

}

#searchinp{
  height: 25px;
  width: 220px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.searchbtn2{
  font-size: 20px;
width: 40px;
height: 31px;
border-top-right-radius:5px ;
border-bottom-right-radius: 5px;
border-color: #525050;
display: flex;
padding-top: 2px;

}

.popup.active .overlay{
  display: block;
}

.popup.active .content{
  transition: all 300ms ease-in-out;
  transform: translate(-50%,-50%) scale(1);
}

.slider{
  width: 1490px;
  max-width: 100vw;
  height: 690px;
  margin: auto;
  position: relative;
  overflow: hidden;
  z-index: auto;
  background-image: url(pictures/dsddd.avif);
}
.slider .list{
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}
.slider .list img{
  width: 1490px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
  z-index: auto;
}
.slider .buttons{
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.slider .buttons button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}
.slider .dots{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.slider .dots li{
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.slider .dots li.active{
  width: 30px;
}
@media screen and (max-width: 768px){
  .slider{
      height: 400px;
  }
  .mainBox{
    width: auto;
  }
  .metalmania{
    display: none;
  }
}

section{
  margin: 40px 0;
 
  width: 100%;
  height: 400px;
  display: flex;
  
  

  
}